body
{
    margin: 0px;
}

.navbar
{
    display: flex;
    align-items: center;
    padding: 0 30px;
    border: 1px solid black;
}

.navbar h1
{
    margin-right: auto;
}

.navbar ul
{
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar a
{
    text-decoration: none;
    color: black;
}

.navbar a:hover
{
    color: grey;
}