.title
{
    align-items: center;
    margin: 10px
}

.title h1
{
    margin-bottom: 5px;
}

.title p
{
    margin-top: 0;
}

.profile
{
    margin: 30px 10px;
    border: 1px solid black;
    background-color: aliceblue;
    text-align: center;
    width: 35%;
    aspect-ratio: 2.4;
    border-radius: 5px;
}

.profile img
{
    width: 25%;
    aspect-ratio: 1;
    margin-top: 5px;
    border-radius: 50%;
    object-fit: cover;
}

.profile h2
{
    margin-top: 0;
    margin-bottom: 5px;
}

.profile p
{
    margin-top: 0;
}